.react-datepicker-popper,
.react-datepicker {
  width: 100%;
  font-family: "Dovemayo_gothic";
  font-size: 20px;
}
.react-datepicker__tab-loop {
  width: 100%;
  position: relative;
}
.react-datepicker__month-container {
  width: 100%;
}
.react-datepicker__day-names,
.react-datepicker__week {
  display: flex;
}
.react-datepicker__day-name,
.react-datepicker__day {
  flex: 1;
}
.customHeaderContainer .month_wrap{
  flex-basis: 50%;
  font-size: 32px;

}
.customHeaderContainer .month {
  color: #eee;
  font-size: 16px;
  font-weight: 500;
}

.customHeaderContainer .year {
  background-color: lightskyblue;
  color: #eee;
  border: none;
  font-size: 16px;
  font-weight: 500;
  padding-right: 5px;
  width:50%;
  cursor: pointer;
  font-family: "Noto Sans KR", serif;
}

.monthButton {
  width: 34px;
  height: 34px;
  padding: 5px;
  border-radius: 50%;
}
.monthButton {
  margin-left: 24px;
}

.monthButton :hover {
  background-color: rgba(#eee, 0.08);
}

.monthButton :disabled {
  cursor: default;
  background-color: red;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

select { 
  display: inline-block;
  /* 생략 */
  width:100%;
  font-family: "Noto Sansf KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  color: #444;
  background-color: transparent;

  padding: 0.6em 1.4em 0.5em 0.8em;
  margin: 0;    -webkit-appearance:none; /* 크롬 화살표 없애기 */
  -moz-appearance:none; /* 파이어폭스 화살표 없애기 */
  appearance:none /* 화살표 없애기 */

}
select:focus {
  outline: none;
}
