@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  input {
    @apply focus:outline-none;
  }
}
.layout_color {
  background-color: #f5f3f3;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: "Dovemayo_gothic";
  font-weight: normal;
  src: url("./Assets/Fonts/Dovemayo_gothic.ttf") format("truetype");
}
body {
  font-family: "Dovemayo_gothic";
}
button{cursor:pointer}
#popup_root,#modal_root {
  position: fixed;
  top: 0;
  left: 0;
  z-index:11
}
#popup_root{
  z-index:12
}
body {
  scrollbar-base-color: #000;
  scrollbar-face-color: #000;
  scrollbar-3dlight-color: #000;
  scrollbar-highlight-color: #000;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: #000;
  scrollbar-dark-shadow-color: #000;
} /* 스크롤바 전체 영역 */
::-webkit-scrollbar {
  width: 10px; /* 세로축 스크롤바 폭 너비 */
  height: 20px; /* 가로축 스크롤바 폭 너비 */
}
::-webkit-scrollbar-thumb {
  background: #e89a3e; /* 스크롤바 막대 색상 */
  border: 2px solid #9b6a2f; /* 스크롤바 막대 테두리 설정  */
  border-radius: 12px 12px 12px 12px;
}
::-webkit-scrollbar-thumb:hover {
	background-color:#a0a0a5;
}
/* 스크롤이 움직이는 뒷 배경 */
::-webkit-scrollbar-track {
	background: transparent; /* 스크롤바 뒷 배경 색상 */
}