@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  input{
    @apply focus:outline-none
  }
}
.layout_color {
  background-color:#F5F3F3
}
@font-face {
  font-family: "Dovemayo_gothic";
  font-weight: normal;
  src: url("./Assets/Fonts/Dovemayo_gothic.ttf") format("truetype");
}
body {
  font-family: "Dovemayo_gothic";
}
